
<div class="clearfix hidden-xs" style="width:100%; height:60px;"></div>

<div class="container-projects">
    <div class="clearfix hidden-xs" style="width:100%; height:10px;"></div>
    <div class="container">
        <div class="page-header" id="projects">
            <h1 class="text-center text-danger">CustomRize-How We Bring Your Individuality To Life<br /><span class="fa fa-paint-brush"></span></h1>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="images/project1.jpg" class="img-responsive" />
                        <h3>About CustomRize</h3>
                        <p>Who are we? We foster the connection and the evolution of unique creation between manufactures and individuals / small business owners. Across the World we make Custom Manufacturing RISE.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="images/project2.jpg" class="img-responsive" />
                        <h3>Manufacturer</h3>
                        <p>Be the wind beneath the wings of creation.  CustomRize Manufactures open up business opportunities by allowing the public to interact directly with Manufacturers to create specialty and varies quantity projects. This fosters creation at a new level and increased revenue for Manufacturers</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="images/project3.jpg" class="img-responsive" />
                        <h3>Buyer</h3>
                        <p>Do you have an idea? A unique style? Do you want to wear it or sale it.  Small or large quantities we support your creation by bidding out your design to Manufactures across the world to get you an agreement that can give rise to your success at being unique.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        <div class="col-md-12 text-center">

        		<button class="btn-primary" id="signup"><a href="/register" class="btn-primary" style="font-size:50px">Sign up now</a></button><br>
            <img src="/images/RisingBird-Large.gif" alt="" />


        </div>

        </div>
    </div>
    <div class="clearfix hidden-xs" style="width:100%; height:50px;"></div>
</div>

<script type="text/javascript">

  $('#signup').on('click', function (e) {

document.location.href="/register"
     //your awesome code here

})
</script>
