<h1>Manufacturer</h1>
<p>You Create The Future We Live In</p>
<!--./ Manufacturer Experience Selection-->
<div class="clearfix hidden-xs" style="width:100%; height:50px;"></div>

<div class="container-about">
    <div class="container">
        <div class="page-header" id="about">
            <h1 class="text-center text-info">ABOUT<br /><span class="fa fa-user"></span></h1>
        </div>
        <div class="row">
            <div class="col-md-6 text-justify">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
            <div class="col-md-6 text-justify">
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose.
            </div>
        </div>
    </div>
</div>

<!--<div class="clearfix hidden-xs" style="width:100%; height:60px;"></div>

<div class="container-projects">
    <div class="clearfix hidden-xs" style="width:100%; height:10px;"></div>
    <div class="container">
        <div class="page-header" id="projects">
            <h1 class="text-center text-danger">PROJECTS<br /><span class="fa fa-paint-brush"></span></h1>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="images/project1.jpg" class="img-responsive" />
                        <h3>PROJECT NAME</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="images/project2.jpg" class="img-responsive" />
                        <h3>PROJECT NAME</h3>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="images/project3.jpg" class="img-responsive" />
                        <h3>PROJECT NAME</h3>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur ex ea commodo.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix hidden-xs" style="width:100%; height:50px;"></div>
</div>-->
            <!--HTML Regristratration Form for User-->

            <div class="container-projects">
    <div class="clearfix hidden-xs" style="width:100%; height:10px;"></div>
    <div class="container">
        <div class="page-header" id="projects">
            <h1 class="text-center text-danger">PROJECTS<br /><span class="fa fa-paint-brush"></span></h1>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="images/project1.jpg" class="img-responsive" />
                        <h3>PROJECT NAME</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
            <!--<div>
                <div>
                    <form> class= "media" ="Create Logon">
                        <div align="center">
                            Username *: <input type="username" name="username" />
                 
                            Password *: <input type="password" name="pwd" />
                 
                            Surname *: <input type="surname" name="surname" />
                 
                            Other Names *: <input type="other names" name="names" />
                 
                            Date of Birth *: <input type="date of birth" name="dob" />
                 
                            Email *: <input type="email" name="email" />
                 
                            Telephone: <input type="telephone" name="tel" />
                 
                            Address *: <input type="address" name="add" />
                 
                            Post Code *: <input type="postcode" name="ptc" />
                            <input type="submit" value="Submit" />
                        </div>
                    </form>         
                </div>
            </div>-->

<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Companyname</th>
      <th>Quantity</th>
      <th>Askingprice</th>
      <th>Category</th>
      <th>Industry</th>
      <th>Product Image</th>
      <th>Comments</th>
    </tr>
  </thead>
  <tbody>
  {{#each data}}
    <tr>
      
      <td>{{this.firstname}}</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    {{/each}}
    <tr>
      <!--<th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead class="thead-default">
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>-->
  </tbody>
</table>




</div>
