<h1>Manufacturer</h1>
<p>You Create The Future We Live In</p>

<div class="container-about">
    <div class="container">
        <div class="page-header" id="about">
            <h1 class="text-center text-info">Open Manufacturing Requests<br /><span class="fa fa-user"></span></h1>
        </div>
        <div class="row">
            <div class="col-md-6 text-justify">
            </div>
            <div class="col-md-6 text-justify">
            </div>
        </div>
    </div>
</div>


            <!--HTML Regristratration Form for User-->


<table class="table table-bordered table-striped">
<title> Pending Order Request</title>
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Email
            </th>
            <th>
                Phone
            </th>
            <th>
                Company Name
            </th>
            <th>
                Quantity
            </th>
            <th>
                Asking Price
            </th>
            <th>
                Category
            </th>
            <th>
                Industry
            </th>
            <th>
                Product
            </th>
            <th>
                Product Image
            </th>
            <th>
                Comments
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
        </tr>
        <tr>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
        </tr>
        <tr>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
        </tr>
        <tr>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
        </tr>
        <tr>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
            <td>
                [CONTENT]
            </td>
        </tr>
    </tbody>
</table>



</div>
