
            <h1 class="text-center text-info"><CENTER>	</CENTER> Creation Starts Here<br /><span class="fa fa-user"></span></h1>

            <div class="text-center">

<h2>
            Sign up below to start creating (or manufacturing)

</h2>

</div>



                <div>
                    <form method="POST" action="/register-process" class="form-horizontal">

<fieldset>

<!-- Form Name -->
<legend>Form Name</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="First Name">First Name</label>  
  <div class="col-md-4">
  <input id="First Name" name="First Name" type="text" placeholder="First Name" class="form-control input-md">
  <span class="help-block">help</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="lastname">Last Name</label>  
  <div class="col-md-4">
  <input id="lastname" name="lastname" type="text" placeholder="Last Name" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="passwordinput">Password Input</label>
  <div class="col-md-4">
    <input id="passwordinput" name="passwordinput" type="password" placeholder="placeholder" class="form-control input-md">
    <span class="help-block">help</span>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="email">Email Address</label>  
  <div class="col-md-4">
  <input id="email" name="email" type="text" placeholder="johnsmith@yahoo.com" class="form-control input-md">
  <span class="help-block">help</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Phone">Phone</label>  
  <div class="col-md-4">
  <input id="Phone" name="Phone" type="text" placeholder="Phone" class="form-control input-md">
  <span class="help-block">help</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Company Name">Company Name</label>  
  <div class="col-md-4">
  <input id="Company Name" name="Company Name" type="text" placeholder="Company Name" class="form-control input-md">
  <span class="help-block">help</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Street">Street</label>  
  <div class="col-md-4">
  <input id="Street" name="Street" type="text" placeholder="Street" class="form-control input-md">
  <span class="help-block">help</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="State">State</label>  
  <div class="col-md-4">
  <input id="State" name="State" type="text" placeholder="State" class="form-control input-md">
  <span class="help-block">help</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Country">Country</label>  
  <div class="col-md-4">
  <input id="Country" name="Country" type="text" placeholder="Country" class="form-control input-md">
  <span class="help-block">help</span>  
  </div>
</div>

<!-- Button Drop Down -->
<div class="form-group">
  <label class="col-md-4 control-label" for="Industry">Industry</label>
  <div class="col-md-4">
    <div class="input-group">
      <input id="Industry" name="Industry" class="form-control" placeholder="Industry" type="text">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          Action
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right">
          <li><a href="#">Retail</a></li>
          <li><a href="#">Electronics</a></li>
          <li><a href="#">Health and Beauty</a></li>
          <li><a href="#">Other</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Multiple Radios -->
<div class="form-group">
  <label class="col-md-4 control-label" for="radios">Are you a </label>
  <div class="col-md-4">
  <div class="radio">
    <label for="radios-0">
      <input type="radio" name="radios" id="radios-0" value="manufacturer" checked="checked">
      Manufacturer
    </label>
	</div>
  <div class="radio">
    <label for="radios-1">
      <input type="radio" name="radios" id="radios-1" value="creator">
      Creator
    </label>
	</div>
  <div> <input type="submit" value="submit">
  </div>
  </div>
</div>

</fieldset>
</form>

                        </div>
                    </form>         
                </div>
