
            <h1 class="text-center text-info"><CENTER>	</CENTER> Creation Starts Here<br /><span class="fa fa-user"></span></h1>

            <div class="text-center">

<h2>
            Sign up below to start creating (or manufacturing)

</h2>

</div>



                <div>
                    <form method="POST" action="/register-process" class="form-horizontal">

<fieldset>


<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="First Name">First Name</label>
  <div class="col-md-4">
  <input id="First Name" name="first_name" type="text" placeholder="First Name" class="form-control input-md">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="lastname">Last Name</label>
  <div class="col-md-4">
  <input id="lastname" name="last_name" type="text" placeholder="Last Name" class="form-control input-md" required="">

  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="passwordinput">Password Input</label>
  <div class="col-md-4">
    <input id="passwordinput" name="password" type="password" placeholder="placeholder" class="form-control input-md">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="email">Email Address</label>
  <div class="col-md-4">
  <input id="email" name="email" type="text" placeholder="johnsmith@yahoo.com" class="form-control input-md">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Phone">Phone</label>
  <div class="col-md-4">
  <input id="Phone" name="phone" type="text" placeholder="Phone" class="form-control input-md">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Company Name">Company Name</label>
  <div class="col-md-4">
  <input id="Company Name" name="company_name" type="text" placeholder="Company Name" class="form-control input-md">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Street">Street</label>
  <div class="col-md-4">
  <input id="Street" name="street_address" type="text" placeholder="Street" class="form-control input-md">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="State">State</label>
  <div class="col-md-4">
  <input id="State" name="state" type="text" placeholder="State" class="form-control input-md">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Country">Country</label>
  <div class="col-md-4">
  <input id="Country" name="country" type="text" placeholder="Country" class="form-control input-md">

  </div>
</div>

<!-- Button Drop Down -->

<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">Select Industry</label>
  <div class="col-md-4">
    <select id="selectbasic" name="industry" class="form-control">
      <option value="Retail">Retail</option>
      <option value="Electronics">Electronics</option>
      <option value="Health and Beauty">Health and Beauty</option>
      <option value="Other">Other</option>
    </select>
  </div>
</div>


<!-- Multiple Radios -->
<div class="form-group">
  <label class="col-md-4 control-label" for="radios">Are you a </label>
  <div class="col-md-4">
  <div class="radio">
    <label for="radios-0">
      <input type="radio" name="user_type" id="radios-0" value="manufacturer" checked="checked">
      Manufacturer
    </label>
	</div>
  <div class="radio">
    <label for="radios-1">
      <input type="radio" name="user_type" id="radios-1" value="creator">
      Creator
    </label>
	</div>
  <div>
    <br>
    <button type="submit" value="submit" class="btn-primary">Submit</button>
  </div>
  </div>
</div>

</fieldset>
</form>

                        </div>
                    </form>
                </div>
