<h1>{{title}}</h1>
<p>Buyer Welcome to {{title}}</p>
<!--./ User Experience Selection-->
<!--<div class="clearfix hidden-xs" style="width:100%; height:50px;"></div>

<div class="container-about">
    <div class="container">
        <div class="page-header" id="about">
            <h1 class="text-center text-info">ABOUT<br /><span class="fa fa-user"></span></h1>
        </div>
        <div class="row">
            <div class="col-md-6 text-justify">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
            <div class="col-md-6 text-justify">
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose.
            </div>
        </div>
    </div>
</div>

<div class="clearfix hidden-xs" style="width:100%; height:60px;"></div>

<div class="container-projects">
	<div class="clearfix hidden-xs" style="width:100%; height:10px;"></div>
	<div class="container">
		<div class="page-header" id="projects">
			<h1 class="text-center text-danger">PROJECTS<br /><span class="fa fa-paint-brush"></span></h1>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<img src="images/project1.jpg" class="img-responsive" />
						<h3>PROJECT NAME</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<img src="images/project2.jpg" class="img-responsive" />
						<h3>PROJECT NAME</h3>
						<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<img src="images/project3.jpg" class="img-responsive" />
						<h3>PROJECT NAME</h3>
						<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur ex ea commodo.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix hidden-xs" style="width:100%; height:50px;"></div>-->
</div>
    		<!--HTML Regristratration Form for User-->
  <div class="container-about">
    <div class="container">
        <div class="page-header" id="about">
            <h1 class="text-center text-info">Submit Your Request to Create<br /><span class="fa fa-user"></span></h1>
        </div>
        <!--<div class="row">
            <div class="col-md-6 text-justify">
					<form tag="Create Logon">
						<div align="center">
							Username *: <input type="username" name="username" />
				 
							Industry *: <input type="Industry" name="pwd" />
				 
							Company Name *: <input type="company" name="Company Name" />
				 
							Order Quantity *: <input type="Order Quantity" name="Quantity" />
				 
							Askingprice *: <input type="Price" name="Askingprice" />
				 
							Product name *: <input type="email" name="email" />
				 
							Telephone: <input type="telephone" name="tel" />
				 
							Product_description *: <input type="address" name="add" />
				 
							Industry *: <input type="Industry" name="Industry" />
							<Select>
									<OPTION>
										Value=" Appearl Footwear and Accessories"><Appearl	
										Value= "Art">< Art</option>
										<option> 

										Value="beauty and health"< Beauty
										</option>
										Value= "Electronics"< Electronics 
									</OPTION>

							Product Image *: <input type="Image" name="Image" />

							Comments *: <input type="comments" name="comments" />

				 			<input type="submit" value="Submit" />
				 		</div>
				 	</form>

			</div>
		</div>
	</div>
</div>-->


<!-- Second Form
<form role="form">
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd">
  </div>
  <div class="checkbox">
    <label><input type="checkbox"> Remember me</label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>-->

<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Submit Your Request and Watch Your Creation Come to Life</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="First Name">First Name</label>  
  <div class="col-md-4">
  <input id="First Name" name="First Name" type="text" placeholder="" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Last Name">Last Name</label>  
  <div class="col-md-4">
  <input id="Last Name" name="Last Name" type="text" placeholder="" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Email">Email</label>  
  <div class="col-md-4">
  <input id="Email" name="Email" type="text" placeholder="" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Phone">Phone</label>  
  <div class="col-md-4">
  <input id="Phone" name="Phone" type="text" placeholder="" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Company Name">Company Name</label>  
  <div class="col-md-4">
  <input id="Company Name" name="Company Name" type="text" placeholder="if applicable" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Asking Price">Asking Price</label>  
  <div class="col-md-4">
  <input id="Asking Price" name="Asking Price" type="text" placeholder="$" class="form-control input-md">
    
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="Comments">Comments</label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="Comments" name="Comments"></textarea>
  </div>
</div>

<!-- Button Drop Down -->
<div class="form-group">
  <label class="col-md-4 control-label" for="Quantity">Quantity</label>
  <div class="col-md-4">
    <div class="input-group">
      <input id="Quantity" name="Quantity" class="form-control" placeholder="" type="text">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          Action
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right">
          <li><a href="#">10-20</a></li>
          <li><a href="#">21-30</a></li>
          <li><a href="#">31-50</a></li>
          <li><a href="#">51-70</a></li>
          <li><a href="#">71-100</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Button Drop Down -->
<div class="form-group">
  <label class="col-md-4 control-label" for="Industry">Industy</label>
  <div class="col-md-4">
    <div class="input-group">
      <input id="Industry" name="Industry" class="form-control" placeholder="" type="text">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          Action
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right">
          <li><a href="#">Retail</a></li>
          <li><a href="#">Electronics</a></li>
          <li><a href="#">Health and Beauty</a></li>
          <li><a href="#">Other</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Product Image">Product Image</label>  
  <div class="col-md-4">
  <input id="Product Image" name="Product Image" type="text" placeholder="" class="form-control input-md">
    
  </div>
</div>

</fieldset>
</form>

</div>