<h1>{{title}}</h1>
<p>Buyer Welcome to {{title}}</p>
</div>
    		<!--HTML Regristratration Form for User-->
  <div class="container-about">
    <div class="container">
        <div class="page-header" id="about">
            <h1 class="text-center text-info">Submit Your Request to Create<br /><span class="fa fa-user"></span></h1>
        </div>

<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Submit Your Request and Watch Your Creation Come to Life</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="First Name">First Name</label>
  <div class="col-md-4">
  <input id="First Name" name="First Name" type="text" placeholder="" class="form-control input-md">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Last Name">Last Name</label>
  <div class="col-md-4">
  <input id="Last Name" name="Last Name" type="text" placeholder="" class="form-control input-md">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Email">Email</label>
  <div class="col-md-4">
  <input id="Email" name="Email" type="text" placeholder="" class="form-control input-md">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Phone">Phone</label>
  <div class="col-md-4">
  <input id="Phone" name="Phone" type="text" placeholder="" class="form-control input-md">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Company Name">Company Name</label>
  <div class="col-md-4">
  <input id="Company Name" name="Company Name" type="text" placeholder="if applicable" class="form-control input-md">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Asking Price">Asking Price</label>
  <div class="col-md-4">
  <input id="Asking Price" name="Asking Price" type="text" placeholder="$" class="form-control input-md">

  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="Comments">Comments</label>
  <div class="col-md-4">
    <textarea class="form-control" id="Comments" name="Comments"></textarea>
  </div>
</div>

<!-- Button Drop Down -->
<div class="form-group">
  <label class="col-md-4 control-label" for="Quantity">Quantity</label>
  <div class="col-md-4">
    <div class="input-group">
      <input id="Quantity" name="Quantity" class="form-control" placeholder="" type="text">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          Action
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right">
          <li><a href="#">10-20</a></li>
          <li><a href="#">21-30</a></li>
          <li><a href="#">31-50</a></li>
          <li><a href="#">51-70</a></li>
          <li><a href="#">71-100</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Button Drop Down -->
<div class="form-group">
  <label class="col-md-4 control-label" for="Industry">Industy</label>
  <div class="col-md-4">
    <div class="input-group">
      <input id="Industry" name="Industry" class="form-control" placeholder="" type="text">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          Action
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right">
          <li><a href="#">Retail</a></li>
          <li><a href="#">Electronics</a></li>
          <li><a href="#">Health and Beauty</a></li>
          <li><a href="#">Other</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Product Image">Product Image</label>
  <div class="col-md-4">
  <input id="Product Image" name="Product Image" type="text" placeholder="" class="form-control input-md">

  </div>
</div>

</fieldset>
</form>

</div>
